<ion-content [fullscreen]="true" class='content'>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="../start">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button >
  </ion-fab>
 
         
  <ng-container *ngIf="products">
    <span><ion-card *ngFor="let product of products.result">
      <h3>{{product.name}}</h3>
      <p> <b>E-mail: </b> {{product.email}}</p>
      <p> <b>Phone: </b> {{product.phone}}</p>
      

      <ion-fab vertical="bottom" horizontal="end">
        <ion-button shape="round" size="small" fill="clear" (click)="deleteUser(product._id)">
          <ion-icon  name="trash"></ion-icon>
        </ion-button>  
      </ion-fab>
  
      
    </ion-card></span>
  </ng-container>
        

</ion-content>