.content{
    --background: url(/assets/back5.png) no-repeat center/cover;
}


h3{
    padding-left:3vw;
    font-weight: bold;
    //color: rgb(44, 178, 196);
    //color: rgb(13, 11, 109);
    color: rgb(23, 119, 228);
}

p{
    //color: rgb(13, 11, 109);
    color: rgb(23, 119, 228);
}

b{
    color: rgb(13, 11, 109);
}

ion-card{
    width: 40%;   
    font-size: medium;
    display: block;
    padding-left: 4vw;
    padding-right: 2vw;
    margin-left: 10vw;
    background: rgba( 17, 16, 105, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.0px );
    -webkit-backdrop-filter: blur( 1.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   }

